@mixin primary_button($height, $width) {
    background: linear-gradient(260deg, #173EA5 26.5%, #4567BE 100%);
    color: white;
    padding: $height 0;
    width: calc($width * 2.5);
    display: flex;
    justify-content: center;
    border: 2px transparent;
    border-radius: 2rem;
    transition: all .2s ease-in-out;
    font-weight: 700;
    cursor: pointer;
    &:hover {
        transform: translate(0px, -1rem);
    }
    &:active {
        transform: scale(95%);
    }
}

@mixin secondary_button($height, $width) {
    background: transparent;
    color: #173EA5;
    padding: $height 0;
    width: calc($width * 2.5);
    display: flex;
    justify-content: center;
    border: 2px solid #173EA5;
    border-radius: 2rem;
    transition: all .2s ease-in-out;
    font-weight: 700;
    cursor: pointer;
    &:hover {
        transform: translate(0px, -1rem);
    }
    &:active {
        transform: scale(95%);
    }
}