.footer {
    border-top: 1px solid #1d1d24;
    padding: 50px 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 20px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #40495e;
    > div > a {
        transition: 200ms;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0px;
        border-radius: 50%;
        &:hover {
            background-color: #23273d;

        }
    }
}
