.footer {
    color: rgb(187, 196, 226);
    border-top: 1px solid #11132b;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 10px;
    font-weight: 800;
    font-size: 1.5rem;
    > div > a {
        transition: 200ms;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
        border-radius: 50%;
        &:hover {
            background-color: #23273d;

        }
    }
}
